#intro {
    width: 100%; height: 100%;
    gap: 1vh;
    white-space: nowrap;
}

#intro, .status, #offline, #online {
    display: flex; flex-direction: column; align-items: center;
}

.content {
    display: flex; flex-direction: column; align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 860px) {
    .content { flex-direction: row; }
    .status { height: 100%; justify-content: center;}
    .qrcode { margin-right: 2vw; }
}

.hint { font-family: 'Consolas'; font-size: 3vw; font-weight: lighter; text-shadow: 0 0 0.5em black; }
.qrcode { width: 60%; max-width: 40vw; max-height: 50vh; box-shadow: 0 0 0.5em black; }